<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">
      
    <http auto-config="true" >
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        
        <!-- access denied page -->
		<access-denied-handler error-page="/Access_Denied" />
		
		<session-management invalid-session-url="/login?timeout" />
		
        <form-login  login-page="/login"
            		 default-target-url="/home"
                     username-parameter="ssoId"
                     password-parameter="password"
                     authentication-failure-url="/login?error"
                     authentication-success-handler-ref="authenticationSuccessHandler" />
        
        <logout logout-success-url="/login?logout" />

        <security:logout invalidate-session="true"
                        logout-url="/login?logout" />
        
        <csrf disabled="true" />
    </http>
    
    <beans:bean id="authenticationSuccessHandler"
        class="com.mems.configuration.MyAuthenticationSuccessHandler" />
    

	<authentication-manager>
		<authentication-provider>
		  <user-service>
			<user name="aaa" password="123" authorities="ROLE_USER" />
			<user name="qqq" password="qqq" authorities="ROLE_ADMIN" />
		  </user-service>
		</authentication-provider>
	</authentication-manager>
    
</beans:beans>